<% if file.mime_type.include? "image" %>
  <%= image_tag file.url %>
<% elsif file.mime_type.include? "video" %>
  <%= video_tag file.url, preload: "metadata" %>
<% else %>
  <div class="pshr-upload__placeholder" data-extension=".<%= file.extension %>"></div>
<% end %>
