<div data-controller="pshr-uploads"
     data-target="pshr-uploads.uploader"
     data-action="ajax:success->pshr-uploads#reload ajax:error->pshr-uploads#reload"
     data-pshr-uploads-on-delete="reload">

  <%= render "pshr/uploads/form", upload: upload %>
</div>
