$padding: 5px;

.pshr-upload-panel {

  &__uploader, &__list {
    margin: 1em 0;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;

    &__item {
      @media (min-width: 375px) {
        display: flex;
        flex-flow: row nowrap;
      }

      &__controls {
        @media (min-width: 375px) {
          width: 90px;
          padding-left: 1em;
        }
      }
    }
  }
}

.pshr-uploader {
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }

  width: 100%;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.3em;

  @media (min-width: 375px) {
    width: 375px;
  }

  &__drop {
    position: relative;
    min-height: 120px;
    background: grey;

    &__thumb {
      height: 120px;
      line-height: 120px;
      overflow: hidden;

      img, video {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      span {
        display: inline-block;
        width: 100%;
        max-height: 100%;
        padding: $padding;
        vertical-align: center;
        text-align: center;
        font-size: 1.35em;
        line-height: 1.2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__info {
      padding: $padding;
      text-align: center;
    }

    .uppy-DragDrop-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: $padding;

      * {
        display: inline-block;
        color: yellow;
        fill: yellow;
      }
    }
  }

  &__informer {

    p {
      margin: 0;
    }

    // *[role=success] {
    //   color: green;
    // }
    //
    // *[role=alert] {
    //   color: red;
    // }
  }
}
